.title {
    align-items: center;
    h1 {
        color: blueviolet;
    }
    h4 {
        color: indianred;
    }
    h1:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    h1:focus {
        outline: none;
    }
}

.search {
    width: 60%;
}

.letter-section {
    color: aqua;
    flex-wrap: wrap;
}