.title {
    align-items: center;
    h1 {
        color: blueviolet;
    }
    h4 {
        color: indianred;
    }
    h1:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    h1:focus {
        outline: none;
    }
}

.search {
    width: 60%;
}

.letter-section {
    color: aqua;
    flex-wrap: wrap;
}

.search-box {
    width: 70%;
    @media screen and (max-width: 767px){
        width: 100%;
    }
}

#all-results {
    color: darkblue;
}

.smart-search-title {
    font-size: 12px;
}